 <div id="qcms_data" style="display: none;">
     {
        "cardiologie": [
        {
            'id': 1,
            'question': "Question 1: Which are correct?",
            'propositions': [
                "Option A",
                "Option B",
                "Option C",
                "Option D",
                "Option E"
            ],
            'correct_answers': [1, 3]
        },
        {
            'id': 2,
            'question': "Question 2: Select the correct options:",
            'propositions': [
                "Option 1",
                "Option 2",
                "Option 3",
                "Option 4",
                "Option 5"
            ],
            'correct_answers': [1, 2, 4]
        },
       {
          'id': 3,
            'question': "Question 3: La stimulation des récepteurs muscarinique peut provoquer :",
            'propositions': [
               "une bradycardie",
               "une bronchodilatation",
                "Une augmentation du tonus et du péristaltisme intestinal",
                "une mydriase",
                "Un relâchement du muscle vésical"
            ],
            'correct_answers': [0, 2] 
        },
         {
          'id': 4,
            'question': "Question 4: L'isoprénaline (Isuprel®) entraine:",
            'propositions': [
               "une vasoconstriction",
                "Un effet inotrope positif",
                "une diminution du débit cardiaque",
                 "une hypoglycémie",
               "une relaxation utérine"
            ],
            'correct_answers': [1, 4]
         },
         {
           'id': 5,
             'question': "Question 5: L'amiodarone (Cordarone®):",
            'propositions': [
                "Est un anti-arythmique de classe IV",
                "inhibe le courant potassique sortant",
               "Allonge la période réfractaire",
                 "Peut induire une hypothyroïdie",
               "Peut induire des effets atropiniques"
            ],
            'correct_answers': [1, 2, 3]
        },
        {
          'id': 6,
           'question': "Question 6: La flecaïnide :",
            'propositions': [
                "Est un anti-arythmique de classe III",
                "Allonge la durée du QRS à l'électrocardiogramme",
                "A un effet proarythmique",
                "A un effet inotrope négatif",
                 "Peut induire une hypothyroïdie"
            ],
            'correct_answers': [1, 2, 3]
        },
        {
          'id': 7,
           'question': "Question 7: La Nifédipine (Adalate®) :",
            'propositions': [
                "est une dihydropyridine",
                "Augmente le débit coronaire",
                "Peut être administré par voie sublinguale dans le traitement des pics hypertensifs",
                 "Déprime la conduction auriculo-ventriculaire",
              "Est contre indiquée dans le traitement de l'angor de Prinzmetal"
            ],
             'correct_answers': [0, 1]
        },
          {
           'id': 8,
          'question': "Question 8: Les anti-hypertenseurs centraux:",
            'propositions': [
                "Inhibent la libération de noradrénaline par les vésicules de stockage",
                 "Augmentent le catabolisme de la noradrénaline",
                "Stimulent les récepteurs α 2 pré-synaptiques",
                "Antagonisent les récepteurs sérotoninergiques",
                 "Augmentent le tonus sympathique"
            ],
             'correct_answers': [2]
        },
         {
          'id': 9,
            'question': "Question 9: Les inhibiteurs de l'enzyme de conversion (IEC), peuvent induire:",
            'propositions': [
                 "une toux",
                 "une hyperuricémie",
                 "une hypokaliémie",
                "une sédation",
                "une protéinurie"
            ],
            'correct_answers': [0, 4]
        },
        {
           'id': 10,
             'question': "Question 10: Parmi les médicaments suivants, quels sont ceux qui antagonisent les antivitamines K ?",
            'propositions': [
                "les anti-inflammatoires non stéroïdiens",
                "la cholestyramine",
                "Les antibiotiques à large spectre",
                 "les antiacides",
                 "Les inducteurs enzymatiques"
            ],
            'correct_answers': [1, 4,2]
        },
         {
           'id': 11,
            'question': "Question 11: Les héparines à bas poids moléculaire:",
            'propositions': [
                 "ont une faible activité inhibitrice du X activé",
                 "ont une puissante activité inhibitrice de la thrombine",
               "peuvent s'accumuler chez l'insuffisant rénal",
                 "peuvent induire une thrombopénie",
               "nécessite une surveillance biologique régulière"
            ],
            'correct_answers': [2,3]
        },
        {
            'id': 12,
            'question': "Question 12: Au cours du processus d'athérogènèse:",
            'propositions': [
                "La dysfonction de la média de l'artère touchée joue un rôle primordial",
                "Les cellules musculaires lisses phagocytent le matériel lipidique en excès",
                 "Les lymphocytes B et les polynucléaires s'accumulent au sein de la paroi artérielle",
                 "Les cellules musculaires lisses synthétisent des protéines de la matrice extra-cellulaire",
                 "Plus la chape fibreuse est fine, plus la plaque athéromateuse est stable"
             ],
             'correct_answers': [0, 3]
        },
       {
           'id': 13,
           'question': "Question 13: Les lésions myocardiques au cours de la première phase d'un infarctus du myocarde (< 6H) :",
            'propositions': [
                 "Sont visibles macroscopiquement",
                "Résultent d'altérations enzymatiques",
                "Sont réversibles après un traitement de reperfusion",
                  "Réalisent des foyers de nécrose de coagulation",
                "Sont responsables de la formation d'une cicatrice fibreuse"
            ],
            'correct_answers': [1,2,3]
        },
          {
           'id': 14,
          'question': "Question 14: Parmi les propositions suivantes, lesquelles caractérisent la maladie d'Osler ?",
            'propositions': [
                 "Elle constitue la principale forme des endocardites purulentes",
                "Elle est la conséquence de l'action directe de germes peu virulents",
               "Elle est observée sur des lésions cardiaques préexistantes",
                 "Elle est caractérisée par des lésions histologiques millimétriques",
                "Elle donne rarement des complications graves"
            ],
           'correct_answers': [1,2,3,4]
        },
         {
           'id': 15,
           'question': "Question 15: Quelles sont parmi les propositions suivantes les caractéristiques d'un ulcère veineux ?",
            'propositions': [
                 "Siège au niveau de la face dorsale du pied",
                "A fond humide",
                "Bien limité",
                "Associé à une absence de pouls",
                "Creusant"
            ],
           'correct_answers': [1, 2]
         },
          {
           'id': 16,
           'question': "Question 16: Un anévrysme de l'aorte abdominale sous rénale:",
            'propositions': [
                "Est perçu à la palpation comme une masse battante et expansive",
               "Ne laisse pas passer le tranchant de la main de l'examinateur entre son pôle supérieur et le rebord costal gauche",
                "Se rompt rarement dans le rétro-péritoine",
                 "Doit être opéré si son diamètre dépasse 55 mm, même s'il n'est pas compliqué",
                "Impose la recherche d'autres localisations anévrismales"
            ],
            'correct_answers': [0,1, 3, 4]
         },
           {
            'id': 17,
            'question': "Question 17: Quel est l'élément ionique le plus important dans la composition de la cardioplégie ?",
            'propositions': [
                "Le sodium",
                "Le potassium",
                 "Le magnésium",
                 "L'hydrogène",
               "Les bicarbonates"
            ],
            'correct_answers': [1]
        },
         {
            'id': 18,
            'question': "Question 18: Quel médicament est prescrit avant la mise en place et le branchement de la circulation extracorporelle ?",
            'propositions': [
                "L'épinéphrine",
                "La norépinephrine",
                 "La dobutamine",
                "L'héparine",
                "La protamine"
            ],
           'correct_answers': [3]
       },
       {
           'id': 19,
           'question': "Question 19: Quelle (s) affection (s) est (sont) considérée (s) comme facteur prédisposant à la survenue d'une dissection aortique?",
            'propositions': [
                 "Maladie de Marfan",
               "Trisomie 21",
                 "L'athérosclérose",
                "Maladie de Recklinghausen",
                "Coarctation de l'aorte"
           ],
           'correct_answers': [0, 2, 4]
       },
       {
            'id': 20,
            'question': "Question 20: Quelles sont les propositions qui définissent le syndrome de Leriche ?",
            'propositions': [
               "Absence des pouls fémoraux",
                 "Dysfonctionnement érectile",
                "Gangrène du gros orteils",
                "Douleurs lombaires",
                "Claudication haute"
            ],
            'correct_answers': [0, 1, 4]
        },
       {
           'id': 21,
           'question': "Question 21: Parmi les propositions suivantes, quelles sont celles qui imposent la réalisation d'un angioscanner des membres inférieurs dans le cadre de la prise en charge thérapeutique d'un artéritique ?",
            'propositions': [
               "Absence du pouls poplité de découverte fortuite chez un patient asymptomatique",
               "Gangrène sèche du gros orteil",
               "Claudication intermittente au niveau du mollet droit apparue depuis 1 mois",
                "Dans le cadre du suivi d'un diabétique",
                "Douleur de décubitus du membre inférieur droit avec un IPS à 0.4"
            ],
            'correct_answers': [1, 4]
        },
         {
            'id': 22,
            'question': "Question 22: L'imagerie par résonnance magnétique (IRM) cardiaque:",
            'propositions': [
              "Permet d'évaluer la viabilité myocardique grâce à la séquence de rehaussement tardif",
                 "Permet d'analyser les sténoses des artères coronaires",
                "Est l'examen de choix pour l'exploration des masses cardiaques",
               "Permet de confirmer le diagnostic de myocardite",
                "Est réalisée de première intention devant une suspicion de dissection de l'aorte"
            ],
            'correct_answers': [0,2, 3]
        },
        {
          'id' : 23,
         'question': "Question 23: Citez 2 intérêts de l'association d'un diurétique à action proximal à un diurétique à action distale.",
         'propositions': [
             "- Effet natriurétique fort pour les proximaux et faible pour les distaux.",
              "- La kaliémie → Hypokaliémie pour les proximaux et hyperkaliémie pour les distaux.",
               " Donc afin de renforcer l'effet natriurétique et balancer la kaliémie."
           ],
             'correct_answers': [0,1]
        },
        {
         'id' : 24,
           'question': "Question 24: Citez 2 effets indésirables de la prazosine (Alpress®).",
           'propositions': [
                "- Hypotension orthostatique.",
                "- Tachycardie."
          ],
           'correct_answers': [0,1]
       },
         {
         'id' : 25,
            'question': "Question 25: Justifiez l'utilisation des antagonistes de l'angiotensine II, comme alternative thérapeutique aux IEC chez un patient ayant présenté un angioœdème.",
           'propositions': [
                "- L'IEC inhibe la dégradation de bradykinine → Accumulation de bradykinine responsable de l'angioœdème.",
                 "- Alors que l'ARAII agit directement sur le récepteur de l'antigène II et n'agit pas sur l'EC et la bradykinine."
           ],
          'correct_answers': [0,1]
        },
       {
         'id' : 26,
            'question': "Question 26: Citer les arcs formant le bord gauche du médiastin sur une radiographie du thorax de face ainsi que les structures médiastinales correspondant à chaque arc.",
            'propositions': [
                 "Arc aortique",
                "Arc du tronc pulmonaire",
               "Arc de l'oreillette gauche"
            ],
           'correct_answers': [0,1,2]
      },
         {
             'id' : 27,
             'question': "Question 27: Quel diagnostic évoquez-vous en premier lieu ?",
             'propositions': [
                 "Thrombophlébite du membre inférieur droit",
               "Ischémie aigue du membre inférieur droit",
                 "Artériopathie chronique des membres inférieurs",
               "Phlébite bleue",
                "Syndrome de Leriche"
             ],
             'correct_answers': [1]
         },
        {
            'id' : 28,
            'question': "Question 28: Quel (s) examen (s) complémentaire (s) demanderiez-vous pour confirmer le diagnostic positif ?",
            'propositions': [
               "Echographie Doppler artériel des membres inférieurs",
                 "Angioscanner des membres inférieurs",
                "Artériographie des membres inferieurs",
               "Angio résonnance magnétique (angio IRM) des membres inférieurs",
              "Aucun examen complémentaire n'est nécessaire"
             ],
             'correct_answers': [1]
        },
         {
            'id' : 29,
            'question': "Question 29: Le diagnostic positif a été confirmé. Quelle serait votre conduite à tenir thérapeutique ?",
            'propositions': [
                 "Un bolus d'héparine et une chirurgie en urgence",
                "Un pontage fémoro-poplité",
                "Un lavage du membre",
               "Une sympathectomie lombaire",
                 "Une amputation de jambe droite"
             ],
            'correct_answers': [0]
        },
         {
           'id' : 30,
             'question': "Question 30: Après avoir bénéficié de son traitement, le patient a présenté une oligurie et une hyperkaliémie. Quelle complication vous suspectez ?",
            'propositions': [
                 "Syndrome de revascularisation",
                "Hémorragie post opératoire",
               "Complication thromboembolique",
                 "Anémie",
                 "Embolie pulmonaire"
             ],
              'correct_answers': [0]
        },
        {
            'id' : 31,
           'question': "Question 31: Concernant les mesures de pression artérielle relevées lors de cette consultation :",
            'propositions': [
                "Le médecin tiendra compte de la moyenne des 3 mesures successives relevées lors de cette consultation",
                "Vu l'obésité de la patiente toutes les mesures sont fausses",
               "La patiente a une hypotension orthostatique confirmée",
                 "Pour classer le niveau de pression artérielle, le médecin tiendra compte des mesures au bras gauche uniquement",
              "Le niveau de pression artérielle constaté est grade II"
            ],
           'correct_answers': [4]
        },
        {
            'id' : 32,
           'question': "Question 32: Le diagnostic d'hypertension artérielle :",
            'propositions': [
                "Est ainsi confirmé par cette seconde mesure au cabinet médical après 30 min de repos",
                 "Nécessitera une mesure au cabinet médical à une autre consultation dans un délai minimal de 1 mois",
               "Reposera obligatoirement sur une mesure ambulatoire de pression artérielle pour éviter tout effet blouse blanche",
                "Est orienté vers une hypertension artérielle secondaire très probable vu l'âge de la patiente",
                "Pourra être confirmé après réalisation d'automesures pendant 3 jours si leur moyenne est à 140/90 mmHg"
            ],
             'correct_answers': [1, 4]
        },
         {
           'id' : 33,
          'question': "Question 33: Le risque cardiovasculaire global de cette patiente:",
            'propositions': [
                "Est modéré à élevé, selon les données cliniques disponibles",
               "Nécessite la réalisation d'une mesure ambulatoire de pression artérielle",
               "Est élevé si l'index de pression systolique bras-cheville à 0.8",
               "Passera par un électrocardiogramme",
                "Ne peut qu'augmenter au fil des années"
            ],
            'correct_answers': [0,3]
        },
        {
           'id' : 34,
           'question': "Question 34: La prise en charge thérapeutique de cette patiente reposera sur :",
            'propositions': [
              "Le sevrage tabagique et la perte de poids",
                 "L'activité physique qui sera vivement conseillée pour aider à maitriser les facteurs de risque cardiovasculaire et l'effet direct sur les chiffres de pression artérielle",
                 "Un soutien et un traitement psychiatrique qui conditionneront la réussite du traitement de l'hypertension artérielle",
                 "Une thérapie antihypertensive médicamenteuse si les mesures hygiéno-diététiques échouent au bout de 6 mois",
                 "Une thérapie médicamenteuse par un inhibiteur de l'enzyme de conversion pendant 3 mois et un antagoniste calcique qui lui sera associé en cas d'échec"
            ],
             'correct_answers': [0, 1,2 ,3]
        },
       {
            'id': 35,
           'question': "Question 35: Quels sont les diagnostics les plus probables ?",
            'propositions': [
                 "Poussée hypertensive",
                "Urgence hypertensive",
               "Œdème aigu du poumon",
                 "Dissection aortique",
                "Embolie pulmonaire"
           ],
           'correct_answers': [1, 2]
       },
      {
            'id': 36,
            'question': "Question 36: Le traitement à mettre en route en urgence comprend:",
            'propositions': [
               "Une oxygénothérapie",
                 "Furosémide 40 mg en intra-veineux",
                 "Bisoprolol 1.25 mg per os",
                "Dérivés nitrés en intra-veineux",
                "Enoxaparine 0.7 ml x 2/jour en sous cutané"
            ],
           'correct_answers': [0, 1, 3]
       },
       {
            'id': 37,
            'question': "Question 37: Devant cette évolution, quelle est votre conduite à tenir en urgence ?",
            'propositions': [
                 "Intubation oro-trachéale",
                "Majoration de la dose des dérivés nitrés en intra-veineux",
               "Dobutamine à 5 gamma/Kg/min",
                "Remplissage par du sérum physiologique",
                "Amiodarone 300 mg en intra-veineux"
            ],
             'correct_answers': [0, 2, 3]
       },
       {
            'id': 38,
           'question': "Question 38: Relevez les arguments en faveur du caractère serré du rétrécissement mitral.",
            'propositions': [
                "Dyspnée d'effort rapidement progressive",
                 "Hépatalgie d'effort",
                "Palpitations",
                 "Turgescence spontanée des jugulaires",
                 "Un roulement diastolique sans renforcement présystolique, un éclat de B1 au foyer mitral et un éclat de B2 au foyer pulmonaire."
            ],
            'correct_answers': [0,1,2,3, 4]
       },
        {
          'id' : 39,
           'question': "Question 39: Relevez de l'observation les signes radiologiques traduisant la dilatation de l'oreillette gauche.",
           'propositions': [
                "Un index cardio-thoracique à 0.6",
                 "Un aspect de double contour de l'arc inférieur droit",
                 "Une horizontalisation de l'axe du cœur avec une pointe sus-diaphragmatique",
                 "Un arc moyen gauche convexe",
               "Une ouverture de l'angle de la carène"
            ],
            'correct_answers': [1,3,4]
       },
        {
          'id' : 40,
           'question': "Question 40: Relevez dans l'observation les signes radiologiques en faveur d'une dilatation des cavités cardiaques droites.",
            'propositions': [
                 "Un index cardio-thoracique à 0.6",
                "Un aspect de double contour de l'arc inférieur droit",
                "Une horizontalisation de l'axe du cœur avec une pointe sus-diaphragmatique",
               "Un arc moyen gauche convexe",
                 "Une ouverture de l'angle de la carène"
           ],
           'correct_answers': [2]
        },
      {
            'id' : 41,
            'question': "Question 41: Quelles sont les données échographiques à rechercher chez cette patiente avant d'indiquer la commissurotomie mitrale percutanée ?",
            'propositions': [
               "Surface mitrale estimée à 1,2 cm²",
                "Soudure bi-commissurale",
                "Absence de fuite mitrale",
               "Absence de thrombus dans l'auricule gauche",
                 "Absence de calcifications valvulaires importantes"
           ],
          'correct_answers': [2, 3,4]
      },
     {
           'id' : 42,
            'question': "Question 42: Quels sont les deux diagnostics à évoquer en premier lieu devant cette détérioration hémodynamique ?",
            'propositions': [
                "Choc cardiogénique",
                "Poussée hypertensive",
                 "Perforation de l'oreillette gauche",
               "Embolie pulmonaire",
                 "Tamponnade"
            ],
           'correct_answers': [2, 4]
       },
      {
           'id': 43,
          'question': "Question 43: Relevez dans le texte les signes en faveur d'une cardiopathie congénitale de type shunt gauche-droite.",
           'propositions': [
               "une hypotrophie sévère (-4DS)",
               "une saturation artérielle en oxygène normale",
               "une pâleur cutanéomuqueuse",
                "une polypnée avec tirage sous costal",
               "un ballonnement abdominal"
            ],
           'correct_answers': [0,3,4]
       },
         {
            'id': 44,
             'question': "Question 44: Le diagnostic de canal artériel persistent est évoqué. Quel signe auscultatoire serait en faveur de ce diagnostic ?",
            'propositions': [
                "un souffle diastolique",
               "un souffle systolique éjectionnel",
              "un souffle continu",
               "un éclat de B2 pulmonaire",
                "un galop proto diastolique"
             ],
             'correct_answers': [2]
         },
        {
          'id': 45,
         'question': "Question 45: Quels signes radiologiques (radio de thorax) seraient en faveurs d'un canal artériel à gros débit ?",
            'propositions': [
                "Une cardiomégalie",
                 "Une surcharge pulmonaire",
               "Un arc moyen gauche convexe",
                 "Une dilatation de l'aorte",
                 "Un épanchement pleural"
             ],
             'correct_answers': [0,1,2]
        },
         {
            'id': 46,
            'question': "Question 46: Citer trois risques évolutifs possibles en l'absence de traitement.",
            'propositions': [
               "Insuffisance cardiaque",
               "Hypertension artérielle pulmonaire",
                "Endocardite infectieuse",
               "Sténose aortique",
               "Infarctus du myocarde"
             ],
            'correct_answers': [0, 1, 2]
        },
         {
            'id': 47,
            'question': "Question 47: Relevez les anomalies présentes sur ce tracé et concluez.",
            'propositions': [
                "Une bradycardie",
                "Un sus-décalage de ST en territoire inférieur et latéral",
                 "Une onde Q de nécrose en territoire inférieur et latéral",
                "Un bloc auriculo-ventriculaire de haut degré",
                 "Un infarctus aigu du myocarde avec sus-décalage de ST en territoire inférieur et latéral"
            ],
            'correct_answers': [1,2,3,4]
        },
          {
            'id': 48,
            'question': "Question 48: Devant ce tableau clinico-électrique, quelle complication explique-t-elle l'état hémodynamique du patient ?",
            'propositions': [
               "Une bradycardie sinusale",
                "Un bloc auriculo-ventriculaire complet",
                 "Une insuffisance cardiaque",
                "Une rupture de paroi libre ventriculaire",
              "Une embolie pulmonaire"
             ],
            'correct_answers': [3]
         },
         {
           'id': 49,
             'question': "Question 49: Quelles sont les mesures thérapeutiques à entreprendre chez ce patient en dehors de son hospitalisation et mise en condition avec précision de posologies des médicaments à prescrire ?",
            'propositions': [
               "Oxygénothérapie",
                 "Remplissage vasculaire",
                "Inotrope positif",
                 "Thrombolyse",
                "Anticoagulation"
            ],
            'correct_answers': [0,1,2,3,4]
        },
          {
             'id': 50,
            'question': "Question 50: Comment interprétez-vous cette épreuve d'effort ?",
           'propositions': [
                "Test d'effort normal",
                 "Test d'effort positif pour ischémie myocardique",
                "Test d'effort sous-maximal",
                 "Test d'effort positif pour trouble de la repolarisation",
                "Test d'effort négatif pour ischémie myocardique"
             ],
           'correct_answers': [1]
         },
          {
             'id': 51,
              'question': "Question 51: Quelle autre investigation proposez-vous pour confirmer votre diagnostic ?",
             'propositions': [
                "Echographie cardiaque",
                "Holter ECG",
                 "Angioscanner des coronaires",
                "Coronarographie",
                "IRM cardiaque"
             ],
             'correct_answers': [3]
          },
         {
              'id': 52,
            'question': "Question 52: En attendant cette investigation, quels traitements médicamenteux prescrivez-vous (en précisant la posologie) ?",
             'propositions': [
                 "Aspirine 75 mg par jour",
                "Clopidogrel 75 mg par jour",
               "Statine à forte dose",
                 "Béta bloquant à dose efficace",
               "Dérivés nitrés en sublinguale"
            ],
             'correct_answers': [0,1,2,3,4]
         },
        {
             'id': 53,
            'question': "Question 53: Relevez les anomalies sur cet électrocardiogramme",
              'propositions': [
                "Bradycardie à 30 bpm",
                "PR allongé de façon constante à 400 msec",
                 "Dissociation auriculo-ventriculaire complète",
                "QRS larges",
                "Une fibrillation atriale"
            ],
             'correct_answers': [0, 1, 2, 3]
         },
        {
            'id' : 54,
          'question': "Question 54: Comment vous qualifiez les chiffres tensionnels mesurés chez cette patiente ?",
           'propositions': [
               "Poussés hypertensive",
                 "Hypertension artérielle résistante",
               "Urgence hypertensive",
                 "Elargissement de la pression différentielle liée à une insuffisance aortique",
                "Une hypersystolie réactionnelle qui est secondaire à l'augmentation du volume d'éjection systolique"
             ],
             'correct_answers': [1,3]
        },
          {
            'id' : 55,
             'question': "Question 55: Quel (s) examen (s) complémentaires allez-vous demander chez cette patiente ?",
            'propositions': [
               "Une épreuve d'effort",
                "Une coronarographie",
               "Une exploration électrophysiologique",
                 "Un holter rythmique en ambulatoire",
                "Une échographie cardiaque"
            ],
             'correct_answers': [2,3,4]
          },
        {
            'id': 56,
          'question': "Question 56: Quelle sera votre conduite à tenir thérapeutique ?",
           'propositions': [
                "Suivi clinique jusqu'à apparition des symptômes",
                "Surveillance rapprochée avec des holters rythmiques réguliers",
                "Implantation d'un stimulateur cardiaque définitif",
                "Mise sous antiarythmiques",
              "Choc électrique externe"
            ],
            'correct_answers': [2]
      },
        {
           'id': 57,
            'question': "Question 57: En dehors d'une prise en charge adéquate, quel (s) est ou sont le ou les risques auquel (s) est exposée cette patiente ?",
            'propositions': [
                "Torsade de pointes",
               "Arrêt cardiaque par asystolie",
                "Insuffisance cardiaque",
                "Hypertension maligne",
                "Endocardite infectieuse"
             ],
            'correct_answers': [1,2, 3]
        }
    ],
      'infectieux': [
        {
            'id': 1,
            'question': "Question 1 infectieux: Which are correct?",
            'propositions': [
                "Option A",
                "Option B",
                "Option C",
               
            ],
            'correct_answers': [1]
        },
        {
            'id': 2,
            'question': "Question 2 infectieux: Select the correct options:",
           'propositions': [
                "Option 1",
                "Option 2",
                "Option 3",
              
            ],
            'correct_answers': [2]
        },
        {
           'id' : 3,
          'question': "Question 3 infectieux: Select the correct options:",
           'propositions': [
               "Option A",
               "Option B",
               "Option C",
               "Option D"
            ],
            'correct_answers': [1, 3]
        }
    ]
}
  </div>